.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.header-wrapper {
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.logo a > svg {
  width: 86px;

  color: var(--color-blue);
}
header .navigation {
  flex: 1;
  display: flex;

  align-items: center;
}
header .navigation > ul {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: center;
}
header .navigation > ul > li > span {
  color: var(--color-blue-light);
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  font-family: var(--main-font);
}
header .navigation .header-button a {
  display: block;
  color: var(--white);
  background-color: var(--color-blue);
  text-decoration: none;
  width: 100px;
  text-align: center;
  line-height: 50px;
  border-radius: 0.5rem;
  height: 50px;
  color: var(--color-white);
  position: relative;
  font-family: var(--main-font);
  /* z-index: 10;
  -webkit-box-shadow: 0px 67px 77px -32px rgba(86, 114, 206, 0.75);
  -moz-box-shadow: 0px 67px 77px -32px rgba(86, 114, 206, 0.75);
  box-shadow: 0px 67px 77px -32px rgba(86, 114, 206, 0.75);
  box-shadow: 0px 67px 77px -32px rgba(86, 114, 206, 0.75); */
  transition: all 0.3s ease;
}
header .navigation .header-button a:hover {
  transform: translateY(-5px);
  box-shadow: 0px 67px 77px -32px rgba(86, 114, 206, 0.75);
}
.main-menu > li {
  position: relative;
}
.main-menu > li:hover .sub-menu {
  opacity: 1;
  top: 40px;
  pointer-events: all;
}
.main-menu > li:hover span {
  color: var(--color-blue);
}
/* ----------- SUB MENU START-----------*/
.sub-menu * {
  user-select: none;
}
.sub-menu {
  position: absolute;
  top: 60px;
  opacity: 0;
  z-index: 3;
  user-select: none;
  background-color: #fff;
  transition: all 0.3s ease;
  pointer-events: none;
  left: 50%;
  border-radius: 12px;
  box-shadow: 0px 0px 25px -15px rgb(62, 107, 175);
  transform: translateX(-50%);
}
/* ----------- SUB MENU END -----------*/

/* ----------- LANDING MENU START-----------*/
.sub-menu.landings {
  min-width: 42rem;
  display: grid;
  grid-template-columns: 50% 50%;
}
.sub-menu.landings .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/photo-3.jpg");
  background-size: cover;
  color: var(--color-white);
  box-shadow: inset 0 0 0 2000px rgba(77, 114, 235, 0.822);
}
.sub-menu.landings .left h3 {
  font-size: 20px;
  font-weight: 400;
}
.sub-menu.landings .left span {
  margin: 10px 0 15px 0;
  color: var(--color-white);
}
.sub-menu.landings .left a {
  display: block;
  cursor: pointer;
  padding: 15px 25px;
  text-decoration: none;
  color: var(--color-blue);
  border-radius: 10px;
  background-color: var(--color-white);
}
.sub-menu.landings .right > ul,
ul.sub-menu-2 {
  padding: 30px;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
}
.sub-menu.landings .right ul.sub-menu-2 > li:nth-child(2) {
  grid-column: 1/2;
}
.sub-menu.landings .right ul.sub-menu-2 > li:last-child {
  grid-row: 1/3;
  grid-column: 2/3;
}
ul.sub-menu-2 > li > h4 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 14px;

  color: var(--color-blue);
}
ul.sub-menu-2 > li {
  line-height: 1.6rem;
}
ul.sub-menu-2 > li a {
  text-decoration: none;
  font-size: 14px;
  color: var(--color-blue-light);
  transition: all 0.3s ease;
}
ul.sub-menu-2 > li a:hover {
  color: var(--color-blue);
}
/* ----------- LANDING MENU ENDS -----------*/

/* ----------- PAGES MENU START -----------*/
.sub-menu.pages {
  min-width: 35rem;
}

.pages ul.sub-menu-2 {
  padding: 40px;

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto auto;
}
.pages ul.sub-menu-2 > li:nth-child(3) {
  grid-column: 3/4;
  grid-row: 1/3;
}
.pages ul.sub-menu-2 > li:nth-child(4) {
  grid-column: 4/5;
  grid-row: 1/3;
}

/* ----------- PAGES MENU ENDS -----------*/

/* ----------- ACCOUNT MENU START -----------*/
.account {
  min-width: 14rem;
  padding: 20px 0;
}
.account .account-menu > li > span {
  color: var(--color-blue-light);
}
.account .account-menu > li {
  padding: 7px 20px;
  position: relative;
}
.account .account-menu > li > span {
  display: block;
  cursor: pointer;
}
.account .account-menu > li > span::after {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-weight: 200;
  font-size: 10px;
  content: "\1433";
}
.account .account-menu > li:hover span {
  color: var(--color-blue);
}
.account .account-menu > li:hover ul {
  opacity: 1;
  top: -100%;
  pointer-events: all;
}
.account .account-menu > * {
  font-size: 14px;
}
.account .account-menu > li > ul {
  position: absolute;
  padding: 20px;
  top: 20px;
  background-color: var(--color-white);
  min-width: 14rem;
  left: 100%;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
  box-shadow: 0px 0px 25px -15px rgba(46, 74, 117, 1);
}
.account .account-menu > li > ul > li {
  padding: 7px 0;
}
.account .account-menu > li > ul > li a {
  color: var(--color-blue-light);
  display: block;
  text-decoration: none;
  padding: 0 20px;
}
.account .account-menu > li > ul > li a:hover {
  color: var(--color-blue);
}
/* ----------- ACCOUNT MENU ENDS -----------*/

/* ----------- DOCS MENU START -----------*/
.sub-menu.docs {
  min-width: 21rem;
  padding: 10px 20px;
}
.sub-menu.docs > ul > li > a {
  all: unset;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 15px 10px;
}
.sub-menu.docs > ul > li:nth-child(2) {
  border-top: 0.5px rgba(82, 82, 82, 0.103) solid;
  border-bottom: 0.5px rgba(82, 82, 82, 0.103) solid;
}
.sub-menu.docs > ul > li .docs-item-content {
  line-height: 1.3rem;
  margin-left: 20px;
  font-weight: 300;
  font-size: 14px;
}
.sub-menu.docs > ul > li .docs-item-content span {
  color: var(--color-blue-light);
}
.sub-menu.docs > ul > li .docs-item-content h4 {
  text-transform: uppercase;
  color: var(--color-blue);
  font-weight: 300;
}
.sub-menu.docs > ul > li svg {
  transform: scale(1.4);
}
/* ----------- DOCS MENU ENDS -----------*/
.humberger-btn {
  display: none;
}
/* ----------- RESPONSIVE START -----------*/
@media only screen and (max-width: 600px) {
  .container {
    max-width: 85vw !important;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media only screen and (max-width: 1024px) {
  .container {
    max-width: 720px;
  }
  header > .header-wrapper .navigation {
    all: unset;
    position: absolute;
    top: 20px;
    /* display: none; */
    right: 0px;
    background-color: #fff;
    left: 20px;
    bottom: 20px;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 30px;
    box-shadow: 0px 0px 0px 133px rgba(204, 204, 204, 0.158);
    flex-direction: column;
    transition: all 0.3s ease;
    opacity: 0;
    z-index: -100;
    pointer-events: none;
  }
  header > .header-wrapper .navigation.show {
    opacity: 1;
    right: 20px;
    z-index: 10;
    pointer-events: all;
  }
  .sub-menu.landings .left {
    display: none;
  }
  .pages ul.sub-menu-2 {
    padding: 30px;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    row-gap: 20px;
  }
  .pages ul.sub-menu-2 > li:nth-child(3) {
    grid-column: 2/3;
    grid-row: 1/3;
  }
  .pages ul.sub-menu-2 > li:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/5;
  }
  .pages ul.sub-menu-2 > li:last-child {
    grid-row: 3/4;
  }
  .header-wrapper .navigation .main-menu {
    flex-direction: column;
  }

  .header-wrapper .navigation .main-menu > li {
    padding: 20px 0;
    border-bottom: 0.5px rgba(82, 82, 82, 0.103) solid;
  }
  .header-wrapper .navigation .main-menu > li > span {
    padding: 0 30px;
  }
  .sub-menu .account-menu {
    line-height: 1.6rem;
    margin-top: 25px;
  }
  .sub-menu .account-menu li {
    padding: 0 30px;
  }
  ul.account-menu > li > span.show ~ ul.sub-menu-3 {
    display: block;
  }
  .account .account-menu > li > span::after {
    top: 4px;
  }
  .sub-menu .account-menu li .sub-menu-3 {
    width: 100%;
    display: none;
    opacity: 1;
    pointer-events: all;
    position: unset;
    box-shadow: unset;
  }
  .header-wrapper .navigation .sub-menu {
    all: unset;

    /* opacity: 1;
    pointer-events: all;
    min-width: unset;
    position: unset; */
  }
  .close-btn {
    cursor: pointer;
    top: 20px;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 10px;
    z-index: 10;
  }
  .close-btn > div,
  .close-btn > div::after {
    width: 20px;
    height: 1px;
    background-color: var(--color-blue-light);
  }
  .close-btn > div {
    position: relative;
    transform: rotate(-45deg);
  }
  .close-btn > div::after {
    position: absolute;
    top: 0;
    content: "";
    transform: rotate(90deg);
  }
  .header-wrapper {
    justify-content: space-between;
  }
  header .navigation .header-button a {
    margin-top: 30px;
    display: block;
    width: unset;
    border-radius: none;
  }
  .sub-menu.docs > ul {
    padding: 0 30px;
    margin-top: 25px;
  }
  .humberger-btn {
    display: block;
    cursor: pointer;
  }
  .humberger-btn div {
    width: 20px;
    background-color: var(--color-blue-light);
    height: 1px;
  }
  .humberger-btn div:nth-child(2) {
    margin: 5px 0;
  }
}
