.hero {
  overflow: hidden;
}
.hero-container {
  padding: 120px 0 0 0;
  opacity: 0;
  display: flex;
  animation: showing 0.5s forwards;
}
@keyframes showing {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translate(0);
    opacity: 1;
  }
}

.hero-container .hero-left {
  min-width: 500px;
}
.hero-container .hero-right img {
  height: 390px;
}
.hero-container .hero-action {
  margin-top: 40px;
  display: flex;
}
.hero-container .hero-action a {
  display: block;
  padding: 1em 1.3em;
  text-decoration: none;
  transition: all 0.3s ease;
  text-align: center;
  border-radius: 8px;
}
.hero-container .hero-action a > i {
  margin-left: 10px;
}
.hero-container .hero-action a:hover {
  transform: translateY(-5px);
  box-shadow: 0 1em 2.5em rgba(22, 28, 45, 0.1),
    0 0.5em 1em -0.75em rgba(22, 28, 45, 0.1) !important;
}
.btn-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
}
.btn-white {
  background-color: rgb(51 94 234 / 15%);
  color: var(--color-blue);
}
.hero-container .hero-left p {
  font-size: 3rem;
  font-weight: 300;
}

.hero-container .hero-left p:nth-child(3) {
  margin-top: 1.4rem;
  font-size: 1.2rem;
  color: var(--color-blue-light);
}
.hero-container .hero-left p span {
  color: var(--color-blue);
}

@media only screen and (max-width: 1024px) {
  .hero-container .hero-left {
    min-width: unset;
  }
  .hero-container .hero-right img {
    height: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .hero-container {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .hero-container .hero-action {
    display: flex;
    justify-content: center;
  }
}
