:root {
  --color-blue: rgb(51, 94, 234);
  --color-blue-light: rgb(134, 154, 184);
  --color-blue-light-2: rgb(80, 102, 144);
}

.customer-heading {
  text-align: center;
}
.customer-heading h4 {
  font-size: 1.8rem;
}
.customer-heading p {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-blue-light);
}
.slider-body {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.image-slider {
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 2;
}
.slider-wrapper {
  transition: all 0.5s ease-in-out;
  transition-delay: 0.2s;
}
.slider-item {
  height: 100%;
}

blockquote {
  padding: 64px 40px;
}
.brand-logo {
  max-width: 9.5rem;
  margin: 0 auto;
}
.brand-logo svg {
  max-width: 100%;
}
blockquote p {
  text-align: center;
  font-size: 1.2rem;
  margin: 2.5rem 0;
}
.blockquote-footer {
  text-align: center;
}
.blockquote-footer span {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--color-blue-light);
}
.customer-slider {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 4rem;
  border-radius: 0.5rem;
  /* overflow: hidden; */
  background: rgb(255 255 255);
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;
}
@media only screen and (max-width: 1024px) {
  .image-slider {
    clip-path: circle(100% at -2% 45%) !important;
    position: unset !important;
  }
}
@media only screen and (max-width: 768px) {
  blockquote {
    padding: 30px 20px 40px 20px;
  }
  .customer-slider {
    display: block;
  }
  .slider-body {
    position: relative;
  }
  .slide-btn {
    top: 75% !important;
  }
  .image-slider {
    clip-path: unset !important;
    height: 429px;
    position: relative !important;
    clip-path: circle(100% at 0% 45%);
  }
}
.image-slider {
  position: relative;
  background-color: #fff;
  clip-path: circle(107% at 2% 41%);
  border-radius: 0.5rem;
  overflow: hidden;

  /* min-height: 300px; */
}
.image-slider img {
  transform: scale(1);
  object-fit: cover;
  max-width: 100%;
  opacity: 1;
  transition: 0.3s;
  transition-delay: 0.2s;
  position: absolute;

  /* transform: translate(-50%, -50%); */
}
.image-slider img.hide {
  opacity: 0;
  z-index: 0;
}
.slide-btn {
  width: calc(1.6em + 1.625rem + 2px);
  height: calc(1.6em + 1.625rem + 2px);
  color: white;
  background-color: var(--color-blue);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: calc(1.6em + 1.625rem + 2px);
  border-radius: 50%;
  z-index: 100;
}
.slide-btn.btn-next {
  right: 0;
  transform: translateX(50%);
}
.slide-btn.btn-prev {
  left: 0px;
  transform: translateX(-50%);
}
.slide-dots {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  z-index: 5;
}
.slide-dots .dot {
  width: 15px;
  height: 4px;
  background-color: var(--color-blue);
  margin: 5px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.3s ease;
}
.slide-dots .dot.current {
  background-color: var(--color-blue);
  opacity: 1;
  width: 20px;
}
