.customer-heading {
  text-align: center;
}
.customer-heading h4 {
  font-size: 1.8rem;
}
.customer-heading p {
  margin-top: 10px;
  font-size: 1.1rem;
  line-height: 1.6;
  color: var(--color-blue-light);
}
.slider-body {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.image-slider {
  border-radius: 0.5rem;
  overflow: hidden;
  z-index: 2;
}
.slider-wrapper {
  display: flex;
  position: absolute;
  width: 150%;
  height: 100%;
}
.slider-item {
  width: 33.333333333%;
  position: absolute;
  background-color: #fff;
  /* left: 33.333333%; */
  transition: all 0.5s ease;
}
.slider-item.current {
  left: 33.33333%;
}
.slider-item.prev {
  left: 0%;
}
.slider-item.next {
  left: 66.6666%;
}

blockquote {
  padding: 64px 40px;
}
.brand-logo {
  max-width: 9.5rem;
  margin: 0 auto;
}
.brand-logo svg {
  max-width: 100%;
}
blockquote p {
  text-align: center;
  font-size: 1.2rem;
  margin: 2.5rem 0;
}
.blockquote-footer {
  text-align: center;
}
.blockquote-footer span {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: var(--color-blue-light);
}
.customer-slider {
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 4rem;
  border-radius: 0.5rem;
  /* overflow: hidden; */
  background: rgb(255 255 255);
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05) !important;
}
@media only screen and (max-width: 1024px) {
  blockquote {
    padding: 20px;
  }
}
@media only screen and (max-width: 768px) {
  blockquote {
    padding: 30px 10px;
  }
  .customer-slider {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 0.5fr;
  }
  .slider-body {
    position: unset;
    width: 100%;
  }
  .slider-wrapper {
    width: 300%;
  }
  .slider-item.current {
    left: 0%;
    z-index: 5;
  }
  .slider-item.prev {
    left: -33.33333%;
  }
  .slider-item.next {
    left: 33.33333%;
  }
  .slide-btn {
    top: 75% !important;
  }
  .image-slider img {
    clip-path: unset !important;
  }
  /* .slider-body .slider-item {
    width: 100%;
  } */
}
.image-slider {
  position: relative;
  background-color: #fff;
}
.image-slider img {
  max-width: 100%;
  transform: scale(1.07);
  object-fit: cover;
  opacity: 0;
  clip-path: circle(100% at 2% 41%);
  transition: all 0.5s ease;
}
.image-slider img.current {
  opacity: 1;
  position: absolute;
  left: 0;
}
.slide-btn {
  width: calc(1.6em + 1.625rem + 2px);
  height: calc(1.6em + 1.625rem + 2px);
  color: white;
  background-color: var(--color-blue);
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  line-height: calc(1.6em + 1.625rem + 2px);
  border-radius: 50%;
  z-index: 100;
}
.slide-btn.btn-next {
  right: 0;
  transform: translateX(50%);
}
.slide-btn.btn-prev {
  left: 0px;
  transform: translateX(-50%);
}
